name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: GCP SKD setup  
      uses: google-github-actions/setup-gcloud@master
      with:
              project_id: ${{ secrets.GCP_PROJECT_ID }}
              service_account_key: ${{ secrets.GCP_SA_KEY }}
              export_default_credentials: true
    - name: Get the secrets
      uses: google-github-actions/get-secretmanager-secrets@main
      with:
              secrets: |-
                  username:nice-proposal-229011/docker_username
                  password:nice-proposal-229011/docker_password
    - name: build and push
      uses: mr-smithers-excellent/docker-build-push@v5
      with:
              image: raghava99/github-actions
              tags: v1
              registry: docker.io
              username: ${{ steps.secrets.outputs.username }}
              password: ${{ steps.secrets.outputs.password }}
